* {
    border: 1px solid red;
}

nav {
    width: 200px;
    height: 100vh;
    background-color: lightgray;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dbb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: green;
}